In [1]:
ls

Comparisons.html              csv_to_html_conversion.ipynb
Untitled.ipynb                index.html
Web-Design-Challenge/

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Web-Design-Challenge/resources/weatherdata.csv")

In [4]:
df.head()

,city,temp,lat,lng,humidity,cloudiness,wind_speed,country,date
0,George Town,31.81,5.4112,100.3354,70,20,3.60,MY,1657878205
1,Saint Paul Harbor,13.73,57.7900,-152.4072,82,0,2.57,US,1657878207
2,Aasiaat,3.51,68.7098,-52.8699,79,89,4.15,GL,1657878209
3,S達o Jo達o da Barra,21.05,-21.6403,-41.0511,89,42,4.90,BR,1657878211
4,Hilo,22.82,19.7297,-155.0900,95,100,2.57,US,1657878214

In [5]:
df.to_html("data.html")

In [6]:
ls

Comparisons.html              csv_to_html_conversion.ipynb
Untitled.ipynb                data.html
Web-Design-Challenge/         index.html